/* здесь используйте глобальные переменные */
$primary-font: "Oswald", "Arial", sans-serif;
$secondery-font: "Lato", "Arial", sans-serif;

$breakpoints-desktop: 1440px;
$breakpoints-tablet-max: 1439px;
$breakpoints-tablet: 768px;
$breakpoints-mobile-max: 767px;

$black: #000000;
$white: #ffffff;

$primary-color: #68b738;
$primary-color-active: #5eaa2f;
$secondery-color: #f2f2f2;
$secondery-color-active: #ebebeb;
$special-dark-grey: #444444;
$special-dark-grey-2: #666666;

$primary-text-color: $black;
$primary-text-color-2: #111111;
$secondery-text-color: $special-dark-grey;

$spacer-line-color: #d9d9d9;
