.checkbox-elements {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px 0;

  @media (min-width: $breakpoints-tablet) {
    flex-direction: row;
    gap: 32px 60px;
  }

  @media (min-width: $breakpoints-desktop) {
    gap: 30px 80px;
  }
}

.checkbox-elements__item {
  @media (min-width: $breakpoints-tablet) {
    width: 284px;
  }

  @media (min-width: $breakpoints-desktop) {
    width: 245px;
    padding-right: 0;
  }
}
