.compare-slider {
  position: relative;
  line-height: 0;
}

.compare-slider__slide {
  display: flex;
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-color: #eaeaea;

  @media (min-width: $breakpoints-tablet) {
    background-color: transparent;
  }

  &--before {
    position: relative;
    z-index: 2;
  }

  &--after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    justify-content: flex-end;
  }
}

.compare-slider__image {
  max-width: 280px;

  @media (min-width: $breakpoints-tablet) {
    max-width: 560px;
  }
}

.compare-slider__control {
  @include standart-transition;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
  height: calc(100% - 40px);
  width: 4px;
  background-color: $special-dark-grey-2;
  border-radius: 2px;
  border: 0;
  padding: 0;

  @media (min-width: $breakpoints-tablet) {
    height: calc(100% - 100px);
  }

  @media (min-width: $breakpoints-desktop) {
    height: calc(100% - 86px);
  }

  &:hover,
  &:active {
    background-color: $primary-color;

    .compare-slider__control-icon {
      border-color: $primary-color;
    }

    .compare-slider__control-icon::before,
    .compare-slider__control-icon::after {
      border-top-color: $primary-color;
      border-left-color: $primary-color;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.compare-slider__control-icon {
  @include standart-transition;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 2px solid $special-dark-grey-2;
  border-radius: 50%;
  background-color: $white;

  &::before,
  &::after {
    @include standart-transition;
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% - 3px);
    transform: translate(-50%, -50%) rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    border: 6px solid $special-dark-grey-2;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(135deg);
    left: calc(50% + 3px);
  }
}
