.container {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $breakpoints-tablet) {
    max-width: 708px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $breakpoints-desktop) {
    max-width: 1220px;
  }

  &--form {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: $breakpoints-tablet) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media (min-width: $breakpoints-tablet) and (max-width: $breakpoints-tablet-max) {
      max-width: 628px;
    }
  }

  &--form-headline {
    @media (min-width: $breakpoints-tablet) and (max-width: $breakpoints-tablet-max) {
      max-width: 628px;
    }
  }
}
