.contacts-detail {
  @include margin-wrapper;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $breakpoints-tablet) {
    padding: 60px 40px;
  }

  @media (min-width: $breakpoints-desktop) {
    background: $white;
    position: absolute;
    top: 95px;
    width: 565px;
    padding-left: 80px;
    padding-right: 75px;
  }
}

.contacts-detail__title {
  color: $primary-text-color-2;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  width: calc(50% - 10px);

  @media (min-width: $breakpoints-tablet) {
    max-width: 165px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts-detail__address {
  color: $secondery-text-color;
  font-family: $secondery-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  width: 50%;

  @media (min-width: $breakpoints-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80px;
    max-width: 160px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $breakpoints-desktop) {
    text-align: left;
  }
}

.contacts-detail__address-city {
  @media (min-width: $breakpoints-desktop) {
    margin-bottom: 2px;
  }
}
