.copyright {
  @include standart-transition;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    color: $primary-color;
  }
}

.copyright__text {
  color: $secondery-text-color;
  font-family: $secondery-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: $breakpoints-tablet) {
    padding-right: 23px;
    line-height: 37px;
  }
}

.copyright__icon {
  @include standart-transition;
  display: block;
  width: 27px;
  height: 34px;
  color: $special-dark-grey-2;
  flex-shrink: 0;
}
