.copyright {
  @include standart-transition;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  color: $secondery-text-color;
  font-family: $secondery-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.copyright__icon {
  @include standart-transition;
  width: 27px;
  height: 34px;
  mask-image: url("../../images/icons/stack.svg#logo-academy");
  background-color: $special-dark-grey-2;

  :hover &,
  :focus & {
    background-color: $primary-color;
  }

  :active & {
    background-color: $primary-color;
  }
}
