.form {
  @include margin-wrapper;
  margin-top: -3px;

  @media (min-width: $breakpoints-desktop) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.form__fieldset {
  @media (max-width: $breakpoints-mobile-max) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $breakpoints-desktop) {
    width: 100%;
  }

  &--info-cat {
    padding-bottom: 12px;

    @media (min-width: $breakpoints-tablet) {
      padding-top: 27px;
      padding-bottom: 53px;
    }

    @media (min-width: $breakpoints-desktop) {
      width: calc(50% - 40px);
      padding-bottom: 49px;
    }
  }
}

.form__fieldset--programs {
  padding-top: 20px;
  padding-bottom: 19px;
  margin-bottom: 26px;
  border-top: 1px solid $spacer-line-color;
  border-bottom: 1px solid $spacer-line-color;

  @media (min-width: $breakpoints-tablet) {
    border: 1px solid $spacer-line-color;
    padding: 23px 26px 25px;
    margin-bottom: 64px;
  }

  @media (min-width: $breakpoints-desktop) {
    min-height: 196px;
    width: calc(50% - 40px);
    padding: 25px 26px 23px;
    margin-top: 29px;
    margin-bottom: 69px;
  }
}

.form__fieldset--owner {
  padding-bottom: 12px;

  @media (min-width: $breakpoints-tablet) {
    padding-bottom: 47px;
  }

  @media (min-width: $breakpoints-desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 51px;

    .form__field {
      width: calc(50% - 40px);
    }
  }

  .form__legend {
    margin-bottom: 33px;

    @media (min-width: $breakpoints-tablet) {
      margin-bottom: 73px;
    }
  }
}

.form__fieldset--comments {
  padding-bottom: 19px;

  @media (min-width: $breakpoints-tablet) {
    padding-bottom: 58px;
  }

  @media (min-width: $breakpoints-desktop) {
    padding-bottom: 63px;
  }

  .form__legend {
    margin-bottom: 35px;

    @media (min-width: $breakpoints-tablet) {
      margin-bottom: 84px;
    }

    @media (min-width: $breakpoints-desktop) {
      margin-bottom: 75px;
    }
  }
}

.form__fieldset--extra {
  padding-bottom: 22px;

  @media (min-width: $breakpoints-tablet) {
    padding-bottom: 20px;
  }

  @media (min-width: $breakpoints-desktop) {
    padding-bottom: 60px;
  }

  .form__legend {
    margin-bottom: 34px;

    @media (min-width: $breakpoints-tablet) {
      margin-bottom: 57px;
    }
  }
}

.form .form__legend {
  padding: 0;

  @media (min-width: $breakpoints-tablet) {
    &::before {
      right: calc(100% + 40px);
    }
  }

  @media (min-width: $breakpoints-desktop) {
    &::before,
    &::after {
      top: 23px;
    }
  }
}

.form__field {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 12px;

  @media (min-width: $breakpoints-tablet) {
    margin-bottom: 18px;
  }
}

.form__label {
  color: $special-dark-grey;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  max-width: 100%;

  @media (min-width: $breakpoints-tablet) {
    font-size: 20px;
    line-height: normal;
  }

  &--text,
  &--number,
  &--email,
  &--tel {
    margin-right: 13px;
  }

  &--email::after,
  &--tel::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 20px;
    background-color: #222222;
    margin-top: 1px;
  }

  &--email::after {
    mask-image: url("../../images/icons/stack.svg#input-icon-email");
    right: 12px;

    @media (min-width: $breakpoints-tablet) {
      right: 14px;
    }

    @media (min-width: $breakpoints-desktop) {
      right: 16px;
    }
  }

  &--tel::after {
    mask-image: url("../../images/icons/stack.svg#input-icon-phone");
    right: 13px;

    @media (min-width: $breakpoints-tablet) {
      right: 14px;
    }

    @media (min-width: $breakpoints-desktop) {
      right: 16px;
    }
  }
}

.form__label--radio {
  display: flex;
  align-items: center;
  min-height: 30px;
  position: relative;
  padding-left: 45px;
  padding-top: 1px;

  @media (min-width: $breakpoints-tablet) {
    min-height: 40px;
    padding-left: 60px;
    padding-top: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;

    @media (min-width: $breakpoints-tablet) {
      top: -1px;
      width: 40px;
      height: 40px;
    }
  }

  &:hover::before {
    border-color: #bababa;
  }
}

.form__label--checkbox {
  display: flex;
  align-items: center;
  min-height: 30px;
  position: relative;
  padding-left: 45px;

  @media (min-width: $breakpoints-tablet) {
    min-height: 40px;
    padding-left: 60px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;

    @media (min-width: $breakpoints-tablet) {
      top: 0;
      width: 40px;
      height: 40px;
    }
  }

  &:hover::before {
    border-color: #bababa;
  }
}

.form__control {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  flex-grow: 1;

  &--text,
  &--number,
  &--email,
  &--tel,
  &--textarea {
    color: $secondery-text-color;
    font-family: $primary-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 12px 14px 11px 15px;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    outline: none;
    text-transform: uppercase;
    margin-top: 2px;

    @media (min-width: $breakpoints-tablet) {
      font-size: 20px;
      line-height: normal;
      padding: 11px 19px 9px;
    }

    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus,
    &:focus-visible {
      border-color: #444444;
      box-shadow: inset 0 0 0 1px #444444;

      + .form__label::after {
        background-color: $primary-color;
      }
    }
  }

  &.form__control--invalid {
    border-color: #ff8282;
    box-shadow: inset 0 0 0 1px #ff8282;

    + .form__label::after {
      background-color: #ff8282;
    }
  }
}

.form__control--email {
  padding-right: 32px;

  @media (min-width: $breakpoints-tablet) {
    padding: 10px 40px 10px 20px;
  }
}

.form__control--tel {
  padding-right: 33px;

  @media (min-width: $breakpoints-tablet) {
    padding: 10px 40px 10px 20px;
  }
}

.form__control--textarea {
  min-height: 150px;
  padding: 14px;
  width: 100%;

  @media (min-width: $breakpoints-tablet) {
    min-height: 175px;
    padding: 11px 19px 9px;
  }

  @media (min-width: $breakpoints-desktop) {
    padding: 8px 19px;
  }
}

.form__control--radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  &:checked ~ .form__label--radio::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 9px;
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: $primary-color;

    @media (min-width: $breakpoints-tablet) {
      left: 11px;
      width: 18px;
      height: 18px;
    }
  }

  &:disabled ~ .form__label--radio {
    opacity: 0.3;
  }

  &:focus-visible ~ .form__label--radio {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

.form__control--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  &:checked ~ .form__label--checkbox::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 10px;
    display: block;
    width: 10px;
    height: 17px;
    border-right: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
    transform: rotate(45deg);

    @media (min-width: $breakpoints-tablet) {
      top: 5px;
      left: 13px;
      width: 13px;
      height: 22px;
    }
  }

  &:disabled ~ .form__label--checkbox {
    opacity: 0.3;
  }

  &:focus-visible ~ .form__label--checkbox {
    box-shadow: inset 0 0 0 2px #444444;
  }
}

.form__submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 32px;

  @media (max-width: $breakpoints-mobile-max) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @media (min-width: $breakpoints-tablet) {
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 60px;
  }

  @media (min-width: $breakpoints-desktop) {
    width: 100%;
    padding-bottom: 80px;
  }
}

.form__submit {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $breakpoints-tablet) {
    width: calc(50% - 30px);
    margin-right: 60px;
    margin-bottom: 0;
  }

  @media (min-width: $breakpoints-desktop) {
    width: calc(50% - 40px);
    margin-right: 80px;
  }
}

.form__notation {
  color: $primary-text-color;
  font-family: $secondery-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin: 0 0 0 4px;

  @media (min-width: $breakpoints-tablet) {
    font-size: 16px;
    margin-top: -5px;
  }

  @media (min-width: $breakpoints-desktop) {
    margin-top: -2px;
  }
}
