/*
.gift {}
.gift__image {}
*/
.gift__text {
  color: #ffffff;
  text-align: center;
  font-family: $secondery-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
