.gift {
  position: relative;
  height: 290px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../images/cat-in-bag@1x.jpg");
  background-position: 50% 50%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/cat-in-bag@2x.jpg");
  }

  @media (min-width: $breakpoints-tablet) {
    height: 200px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 77px;
    padding-right: 125px;
    background-position-y: 60%;
  }

  @media (min-width: $breakpoints-desktop) {
    width: 245px;
    height: 288px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba($primary-color, 0.85);
  }

  &::before {
    content: "";
    display: block;
    position: relative;
    z-index: 2;
    width: 78px;
    height: 80px;
    background-image: url("../../images/icons/stack.svg#gift");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    margin-bottom: 48px;

    @media (min-width: $breakpoints-tablet) {
      margin-bottom: 0;
    }

    @media (min-width: $breakpoints-desktop) {
      margin-bottom: 46px;
    }
  }
}

.gift__text {
  position: relative;
  z-index: 2;
  color: $white;
  text-align: center;
  font-family: $secondery-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;

  @media (min-width: $breakpoints-tablet) {
    text-align: left;
  }

  @media (min-width: $breakpoints-desktop) {
    text-align: center;
  }
}
