.logo {
  @include standart-transition;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 0;
  flex-shrink: 0;

  &:hover,
  &:focus {
    .logo__image-text,
    .logo__image-image {
      opacity: 0.8;
    }
  }

  &:active {
    .logo__image-text,
    .logo__image-image {
      opacity: 0.6;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 33px;

    @media (min-width: $breakpoints-tablet) {
      display: none;
    }
  }
}

.logo__image-text {
  @media (min-width: $breakpoints-tablet) {
    display: none;
  }
}
