.main-nav__toggle {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;

  &--nojs {
    display: none;
  }

  @media (min-width: $breakpoints-tablet) {
    display: none;
  }
}

.main-nav {
  @media (min-width: $breakpoints-tablet) {
    padding: 0 34px 0 30px;
    margin-top: 2px;
  }

  @media (min-width: $breakpoints-desktop) {
    padding: 0;
    margin-top: 6px;
  }
}
