.page,
.page__body {
  overflow-x: hidden;
}

.page__headline {
  @include margin-wrapper;
  margin-top: 27px;
  margin-bottom: 40px;

  @media (min-width: $breakpoints-tablet) {
    margin-top: 40px;
  }

  @media (min-width: $breakpoints-desktop) {
    margin-top: 74px;
  }
}
