.page-footer {
  background-color: $secondery-color;
  padding-bottom: 20px;

  @media (min-width: $breakpoints-tablet) {
    padding: 55px 0;
  }

  @media (min-width: $breakpoints-desktop) {
    padding: 65px 0;
  }
}

.page-footer__wrapper {
  @include margin-wrapper;
  padding-top: 40px;

  @media (min-width: $breakpoints-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}

.page-footer__logo {
  margin: 0 auto 18px;
  flex-shrink: 0;

  @media (min-width: $breakpoints-tablet) {
    margin: 0;
  }
}

.page-footer__social,
.page-footer__copyright {
  padding: 20px 0 19px;
  border-top: 1px solid $spacer-line-color;

  @media (min-width: $breakpoints-tablet) {
    padding: 0;
    border: 0;
  }
}
