.page-footer {
  background-color: $secondery-color;
  padding-bottom: 20px;
}

.page-footer__wrapper {
  @include margin-wrapper;
  padding-top: 40px;
}

.page-footer__logo {
  margin: 0 auto 20px;
}

.page-footer__social,
.page-footer__copyright {
  padding: 20px 0;
  border-top: 1px solid $spacer-line-color;
}
