.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $breakpoints-mobile-max) {
    flex-direction: column;
  }

  @media (min-width: $breakpoints-tablet) {
    gap: 60px;
  }

  @media (min-width: $breakpoints-desktop) {
    gap: 61px 80px;
  }
}

.products__item {
  @media (min-width: $breakpoints-tablet) {
    width: calc(50% - 30px);
  }

  @media (min-width: $breakpoints-desktop) {
    width: 245px;
  }
}
