.programs__wrapper {
  @include margin-wrapper;
  padding-top: 20px;

  @media (min-width: $breakpoints-tablet) {
    padding-top: 0;
  }
}

.programs__list {
  @include list-style-none;

  @media (min-width: $breakpoints-desktop) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
  }
}

.programs__item {
  position: relative;
  background-color: $secondery-color;
  padding: 30px 33px 18px 20px;

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $breakpoints-desktop) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $breakpoints-tablet) {
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $breakpoints-desktop) {
    padding: 77px 52px 55px;
    width: 100%;
  }

  &--slim::before,
  &--pro::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 20px;
    z-index: 1;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $primary-color;

    @media (min-width: $breakpoints-tablet) {
      top: 92px;
      left: initial;
      right: 63px;
      width: 200px;
      height: 200px;
    }
  }

  &--slim::after,
  &--pro::after {
    content: "";
    position: absolute;
    z-index: 2;
    display: block;
  }

  &--slim::after {
    top: 21px;
    left: 27px;
    width: 36px;
    height: 50px;
    background-image: url("../../images/icons/stack.svg#cat-slim");
    background-size: contain;

    @media (min-width: $breakpoints-tablet) {
      top: 81px;
      left: initial;
      right: 93px;
      width: 140px;
      height: 194px;
    }
  }

  &--pro::after {
    top: 35px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../../images/icons/stack.svg#cat-pro");
    background-size: contain;

    @media (min-width: $breakpoints-tablet) {
      top: 135px;
      left: initial;
      right: 29px;
      width: 268px;
      height: 112px;
    }
  }
}

.programs__title {
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 70px;
  margin: 0;

  @media (min-width: $breakpoints-tablet) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
  }
}

.programs__desc {
  color: $secondery-text-color;
  font-family: $secondery-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 29px 0 19px;
  padding-bottom: 23px;
  border-bottom: 1px solid $spacer-line-color;

  @media (min-width: $breakpoints-tablet) {
    font-size: 16px;
    line-height: 24px;
    max-width: 340px;
    margin: 24px 0 52px;
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.programs__link {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  color: $primary-text-color;
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $breakpoints-tablet) {
    font-size: 20px;
    line-height: normal;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    @include standart-transition;
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    margin-left: 15px;
    background-image: url("../../images/icons/stack.svg#icon-arrow");
    background-position-x: -8px;
    background-repeat: no-repeat;
    background-size: 27px 100%;

    @media (min-width: $breakpoints-tablet) {
      margin-left: 25px;
    }
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    background-position-x: 0;
  }
}
