.section-title {
  font-family: $primary-font;
  color: $primary-text-color;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  width: 100%;

  @media (min-width: $breakpoints-tablet) {
    font-size: 36px;
    line-height: 38px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    z-index: 1;
    width: 100vw;
    height: 2px;
    background-color: $primary-color;

    @media (min-width: $breakpoints-tablet) {
      top: 23px;
    }

    @media (min-width: $breakpoints-desktop) {
      top: 24px;
    }
  }

  &::before {
    right: calc(100% + 20px);

    @media (min-width: $breakpoints-tablet) {
      right: calc(100% + 30px);
    }

    @media (min-width: $breakpoints-desktop) {
      right: calc(100% + 40px);
    }
  }
}

.section-title__inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  background-color: $white;
  padding-right: 20px;

  @media (min-width: $breakpoints-tablet) {
    padding-left: 10px;
    padding-right: 40px;

    br {
      display: none;
    }
  }

  @media (min-width: $breakpoints-desktop) {
    padding-left: 0;
  }
}
