.social {
  @include list-style-none;
  padding: 20px 0 19px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px 24px;

  @media (min-width: $breakpoints-tablet) {
    padding: 0;
    margin-left: 37px;
  }
}

.social__link {
  @include standart-transition;
  display: block;
  width: 28px;
  height: 22px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $special-dark-grey-2;

  &:hover,
  &:focus {
    background-color: $primary-color;
  }

  &:active {
    opacity: 0.3;
    background-color: $primary-color;
  }

  &--vk {
    mask-image: url("../../images/icons/stack.svg#social-icon-vk");
  }

  &--yt {
    mask-image: url("../../images/icons/stack.svg#social-icon-yt");
  }

  &--tg {
    mask-image: url("../../images/icons/stack.svg#social-icon-tg");
  }
}
