.social {
  padding: 20px 0 19px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px 24px;

  @media (min-width: $breakpoints-tablet) {
    padding: 0;
  }
}

.social__link {
  &::before {
    @include standart-transition;
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $special-dark-grey-2;
  }

  &:hover::before,
  &:focus::before {
    background-color: $primary-color;
  }

  &:active::before {
    opacity: 0.3;
    background-color: $primary-color;
  }

  &--vk::before {
    mask-image: url("../../images/icons/stack.svg#social-icon-vk");
  }

  &--yt::before {
    mask-image: url("../../images/icons/stack.svg#social-icon-yt");
  }

  &--tg::before {
    mask-image: url("../../images/icons/stack.svg#social-icon-tg");
  }
}
